 @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
 @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
 
$brand-color : #BD99A8;
$dark: #3B2A41;
$background: #4B3A59;
$gold: #D1BC66;
$peachy: #C99F9A;

 body {
   background: white;
   color: $dark;
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   margin: 70px 0;
 }

 .username {
   border: 1px solid $peachy;
   background: $peachy;
   border-radius: 1em;
   margin: 10px;
   padding: 5px;
 }

 .content {
  border: 1px solid $gold;
  background: $gold;
  border-radius: 1em;
  margin: 10px;
  padding: 5px;
 }

 .chatbar {
   background: $brand-color;
   border-top: 1px solid $dark;
   bottom: 0;
   display: flex;
   left: 0;
   padding: 5px;
   position: fixed;
   right: 0;
 }

 .chatbar-message,
 .chatbar-username {
   border: 1px solid $dark;
   display: block;
   height: 40px;
   line-height: 40px;
   margin: 5px;
   padding: 0 9px;
 }

 .chatbar-message {
   flex: 8;
 }

 .chatbar-username {
   flex: 2;
 }

 .message {
   display: flex;
 }

 .message.system {
   color: $dark;
   font-style: italic;
   padding: 5px 20px;
 }

 .message-content,
 .message-username {
   overflow: hidden;
   margin: 5px;
   padding: 0 10px;
 }

 .message-content {
   flex: 8;
 }

 .message-username {
   flex: 2;
   font-weight: 700;
 }

 .navbar {
   background: $background;
   border-bottom: 1px solid $dark;
   height: 60px;
   left: 0;
   padding: 0 10px;
   position: fixed;
   right: 0;
   top: 0;
 }

 .navbar-brand {
   color: $brand-color;
   display: block;
   float: left;
   font-weight: 700;
   font-size: 28px;
   height: 60px;
   line-height: 60px;
   padding: 0 10px;
   text-decoration: none;
 }

 .user-count {
   color: $brand-color;
   display: block;
   float: right;
   font-weight: 300;
   font-size: 20px;
   height: 60px;
   line-height: 60px;
   padding: 0 10px;
   text-decoration: none;
   }
 